# String method part 2


## Modify and Replace


### str.**replace**(*old , new , count=-1*)

Return a *copy* of the string with all occurences of substring ***old replaced by new.***
- if *count* is given , only the first occurrence are replaced.
- if *count* is not specified of -1 , then all occurences are replaced.

In [ ]:
text = "Day 10 of 100 days of code."
print(text.replace('10','11'))
#  Wherever it will see 10 
# it will be replaced by the 11

Day 11 of 110 days of code.

In [ ]:
text = "Day 10 of 100 days of code."
print(text.replace('10','11' ,1))
# when count = 1

Day 11 of 100 days of code.

### str.**strip**(*chars = None*)

Return a copy of the string with leading and trailing characters removed.
- if *chars* are *ommitted* or *None*, the chars argument *defaults* to removing white space.

In [ ]:
text = "    Day 10 of 100 days of code.   "
print(text.strip())

Day 10 of 100 days of code.

In [30]:
text = "www.example.com"
print(text.strip('com.w'))

example

In [34]:
text = text = ".....##aaaaaaaaa Day 10 of 100 days of code .......###"
print(text.strip('a.#'))

 Day 10 of 100 days of code

## split and Join

### str.**split**(*sep = None , maxsplit=-1*)

Return a *list* of words in the string , using *sep* as the delimiter string.
- if *maxsplit* is given ,at most maxsplit are done(thus the list will have at most **maxsplit+1** elements)
- if *maxsplit* is **not specified** or **-1** there is no limit on the number of splits(all possible splits are made

In [19]:
text = "Day 10 of 100 days of code."
print(text.split()) # split by space

text = "Day 10 of 100 days of code."
print(text.split(' ')) # split by space

['Day', '10', 'of', '100', 'days', 'of', 'code.']
['Day', '10', 'of', '100', 'days', 'of', 'code.']

In [ ]:
text = "Day 10 of 100 days of code."
print(text.split('a')) # split by word a

['D', 'y 10 of 100 d', 'ys of code.']

In [22]:
#using maxlimit  
text = "Day 10 of 100 days of code."
print("with maxlimit",text.split(' ',1)) 
# split by 'a' 

text = "Day 10 of 100 days of code."
print("without maxlimit",text.split(' ',1))

with maxlimit ['Day', '10 of 100 days of code.']
without maxlimit ['Day', '10 of 100 days of code.']

In [26]:
text = "Day 10 of 100 days of code."
print(text.split(maxsplit = 1)) 
print(text.split(maxsplit = 2))
print(text.split(maxsplit = 3))
print(text.split(maxsplit = -1))

['Day', '10 of 100 days of code.']
['Day', '10', 'of 100 days of code.']
['Day', '10', 'of', '100 days of code.']
['Day', '10', 'of', '100', 'days', 'of', 'code.']

### str.**join**(*iterable*)

Return a *string* which is the *concatenation* of the string in the *iterable*.

In [ ]:
text = ' '.join(['Day', 
                 '10', 'of', '100',
                 'days', 'of', 'code.'])
print(text)

Day 10 of 100 days of code.

A **TypeError** will be raised if there are any non-string values in *iterable*.

In [ ]:
text = ' '.join([1,2,3])
print(text)
#TypeError

TypeError: sequence item 0: expected str instance, int found

In [45]:
text = ' '.join(('1','2','3'))
print(text)

1 2 3