# Patter question in python

# Star Patterns

## Write a Python programm to print the following pattern for n = 5:


    * 
    * * 
    * * * 
    * * * * 
    * * * * *

In [20]:
n = 5
for i in range(1 , n+1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

## Inverted Triangle

In [21]:
n = 6
for i in range(n ,0,-1):
    print("* "*i)

* * * * * *
* * * * *
* * * *
* * *
* *
*

## Pyramid

In [22]:
n = 6
for i in range(1 , n+1):
    print(" "*(n-i) + "* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

## Daimond

In [23]:
n = 6
# Upper
for i in range(1 , n+1):
    print(" "*(n-i) + "* "*i)
#Lower
for i in range(n-1 ,0 ,-1):
    print(" "*(n-i) + "* "*i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

# With number

## Write a program to print the followin *number Pyramid* for n = 5:   
    1
    1 2
    1 2 3
    1 2 3 4
    1 2 3 4 5

In [24]:
n = 5
for i in range(1 , n+1):
    for j in range(1 , i+1):
        print(j , end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Repeated Numbers

In [25]:
n = 6 
for i in range(1 , n+1):
    print((str(i)+" ")*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

## Inverted  Number Triangle
    1 2 3 4
    1 2 3
    1 2
    1

In [26]:
n = 6
for i in range(n , 0 , -1):
    print(i)

6
5
4
3
2
1