In [ ]:
# input 

3 3
40 75  
50 35
10 45
40 76  
20 30  
40 40